body {
  width: 150px;
  text-align: center;
}

.--dog-header {
  font-weight: bold;
  font-family: "Georgia", serif;
}

#--dog-button {
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: #29b6f6;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transition: fade 0.5s;
  text-align: center;
}

#--dog-button:hover {
  background-color: #42a5f5;
  box-shadow: 3.5px 7px 7px hsl(0deg 0% 0% / 0.39);
}

#--dog-button:active {
  background-color: #0288d1;
  box-shadow: 0.9px 1.8px 1.8px hsl(0deg 0% 0% / 0.47);
}

.--dog-button-disabled {
  background-color: #78909c;
  box-shadow: none;
}

#--dog-button-disabled:hover {
  background-color: #78909c;
  box-shadow: none;
}

#--dog-button-disabled:active {
  background-color: #78909c;
  box-shadow: none;
}
